#icon {
  animation: shakeY 2s ease-in-out infinite;
}

/* Shake happens at the start of each 2s cycle */
@keyframes shakeY {
  0%,
  90%,
  100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-4px);
  }
  20% {
    transform: translateY(4px);
  }
  30% {
    transform: translateY(-4px);
  }
  40% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(0);
  }
}
